{{#partial "content"}}
    {{#if bouquet}}
        <h1>Current Teams:</h1>
        {{#each bouquet }}
            <h3>{{ flower1 }}</h3>
            <p>{{ flower2 }}</p>
            <p>Members:</p>
            <ul>
                {{#each flower3}}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
            <p><a href="flowers/{{id}}/update">Edit Name</a></p>
            <p><a href="flowers/{{id}}/add-member">Add Member</a></p>
            <p>---------------------------</p>
        {{/each}}
    {{else if bouquet}}
        <h2>Team Details for: {{ bouquet.name }}</h2>
        <p>Description: {{ bouquet.flower1 }}</p>
        <p>Members:</p>
        <ul>
            {{#each bouquet.flower3 }}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
        <p><a href="/flowers/{{editFlowers.id}}/update">Edit Name</a></p>
        <p><a href="flowers/{{id}}/add-member">Add Member</a></p>
    {{else}}
        <p>No Teams to Show!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}