{{#partial "content"}}
    <p><u>Primary Flower:</u></p>
    <p>{{ flowers.flower1 }}</p>
    <h5><u>Secondary Flower:</u></h5>
    <p> {{ flowers.flower2 }}</p>
    <h5><u>Additional Flower:</u></h5>
    <p> {{ flowers.flower3 }}</p>
    <h5><u>Additional Flower:</u></h5>
    <p> {{ flowers.flower4 }}</p>

    <a href="/flowers/{{flowers.id}}/update">Edit this arrangement</a>


{{/partial}}

{{> layout.hbs}}
