{{#partial "content"}}


    {{#if editFlowers}}
        <h2>Edit this Bouquet!</h2>
        <form action="/flowers/{{editFlowers.id}}/update" method="post">
                <label for="flower1">New Flower:</label>
                <input id="flower1" name="flower1" type="text" value="{{editFlowers.flower1}}">
            <br>
                <label for="flower2">New Flower:</label>
                <input id="flower2" name="flower2" type="text" value="{{editFlowers.flower2}}">
            <br>
                <label for="flower3">New Flower:</label>
                <input id="flower3" name="flower3" type="text" value="{{editFlowers.flower3}}">
            <br>
                <label for="flower4">New Flower:</label>
                <input id="flower4" name="flower4" type="text" value="{{editFlowers.flower4}}">
            <br>
            <button type="submit" class="btn btn-default">Edit Arrangement</button>
        </form>
    {{else}}

        <h3><u>Add an Arrangement</u></h3>
        <hr noshade>
        <form action="/flowers/new" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="flower1" class="col-sm-2 control-label">Choose a Main Flower for your Arrangement:</label>
        <div class="col-sm-10">
            <input id="flower1" class="form-control" name="flower1" type="text">
            <img src="../images/200.gif">
        </div>
        </div>
            <br>
        <div class="form-group">
            <label for="flower2" class="col-sm-2 control-label">Add a Secondary Flower to Your Bouquet:</label>
        <div class="col-sm-10">
            <input id="flower2" class="form-control" name="flower2" type="text">
            <img src="../images/200.gif">
        </div>
        </div>
            <br>
        <div class="form-group">
            <label for="flower3" class="col-sm-2 control-label">Add Another Flower:</label>
            <div class="col-sm-10">
            <input id="flower3" class="form-control" name="flower3" type="text">
            </div>
            </div>
            <br>
        <div class="form-group">
            <label for="flower4" class="col-sm-2 control-label">Add Another Flower:</label>
            <div class="col-sm-10">
            <input id="flower4" class="form-control" name="flower4" type="text">
            </div>
            </div>
            <br>
        <center>
            <img src="../images/200.gif">
            <button type="submit" class="btn btn-default">Add new bouquet!</button>
            <img src="../images/200.gif">
        </center>
    {{/if}}

    </form>


{{/partial}}

{{> layout.hbs}}
