{{#partial "content"}}
    {{#if bouquet}}
        <h1><u>Current Teams:</u></h1>
        {{#each bouquet }}
            <br>
            <u> Team Name:</u> {{ flower1 }}
            <br>
            <u> Description:</u> {{ flower2 }}
            <p><u>Members:</u></p>
            <ul>
                {{#each flower3}}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
            <br>
            <br>
            <p><a href="flowers/{{id}}/update">Edit Name</a></p>
            <p><a href="flowers/{{id}}/add-member">Add Member</a></p>
            
        {{/each}}
    {{else if bouquet}}
        <h2>Team Details for: {{ bouquet.name }}</h2>
        <p>Description: {{ bouquet.flower1 }}</p>
        <p>Members:</p>
        <ul>
            {{#each bouquet.flower3 }}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
        <p><a href="/flowers/{{editFlowers.id}}/update">Edit Name</a></p>
        <p><a href="flowers/{{id}}/add-member">Add Member</a></p>
    {{else}}
        <p>No Teams to Show!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}