{{#partial "content"}}

    {{#if allFlowers}}

        {{#each allFlowers}}

        <h3>Primary Flower:</h3><p> {{flower1}}</p><hr>


        <h3>Secondary Flower:</h3><p> {{flower2}}</p><hr>


        <h3>Additional Flower:</h3><p> {{flower3}}</p><hr>


        <h3>Additional Flower:</h3><p> {{flower4}}</p><hr>

        <br><p><a href="/flowers/{{id}}"> read more...</a></p>
        <br>




        {{/each}}
    {{else}}
        <p>No Bouquets made!</p>
    {{/if}}
{{/partial}}


{{> layout.hbs}}